<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Friend Finder</h1>
        <hr />
        <h2>Answer a few basic questions.</h2>
        <h2>Then our magic formula will display your ideal match!</h2>
        <br />
        <div>
            <a href="/survey">
                <button type="button" class="btn-primary btn-lg">Go to Survey</button>
            </a>
        </div>
    </div>
</div>